@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@using System.Data;
@using System.Data.SqlClient;
@{
    Page.Title = "Competenties";
    Layout = "_Layout.cshtml";

    bool ingelogd = true;

    if (!Beveiliging.IsAuthenticated())
    {
        ingelogd = false;
    }

    int CompetentieId = 0;
    string Naam = "";
    int Niveau = 0;
    string Competentie_beschrijving = "";

    List<string> groepen = new List<string>(DbConnection.Instance.Competentie.GetGroepen());
}

<div class="table-responsive">
    <h3 class="page-header">Competenties</h3><br />
    @{  int i = 0;
        int j = 0;
        string collapse = "in";
        foreach (string s in groepen)
        {
            <div>
                <h4><a data-toggle="collapse" data-target="#groep_@j" href="#groep_@j">@s <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a></h4>
            </div>
            <div id="groep_@j" class="panel-collapse collapse @collapse">
                    @{collapse = "out";}
                <table class="table-bordered">
                    <tr>
                        <th>Naam</th>
                        <th>Niveau</th>
                        <th>Beschrijving</th>
                    </tr>
                    @{using (var connection = new SqlConnection(DbConnection.ConnectionString))
                        {
                            using (var command = connection.CreateCommand())
                            {
                                connection.Open();

                                command.CommandText = "EXEC GetCompetenties @Groep";
                                command.Parameters.Add(new SqlParameter("@Groep", SqlDbType.NVarChar) { Value = s });


                                using (var reader = command.ExecuteReader())
                                {
                                    while (reader.Read())
                                    {
                                        CompetentieId = reader.GetInt32(0);
                                        Naam = reader.GetString(1);
                                        Niveau = reader.GetInt32(2);
                                        Competentie_beschrijving = reader.GetString(3);

                                        <tr>
                                            <td>@Naam</td>
                                            <td>@Niveau</td>
                                            <td>
                                                <div>
                                                    <a data-toggle="collapse" data-target="#beschrijving_@i" href="#beschrijving_@i">Bekijken <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                                                </div>
                                                <div id="beschrijving_@i" class="panel-collapse collapse out">
                                                    @Competentie_beschrijving
                                                </div>
                                            </td>
                                            @{
                                                if (ingelogd == true)
                                                {
                                                    <td><a class="btn btn-primary" href="Competentie_aanpassen?CompetentieId=@CompetentieId"><i class="fa fa-pencil" aria-hidden="true"></i> Aanpassen</a></td>
                                                    <td><a class="btn btn-danger" href="Competentie_verwijderen?CompetentieId=@CompetentieId"><i class="fa fa-trash" aria-hidden="true"></i> Verwijderen</a></td>
                                                }
                                            }
                                        </tr>
                                        i++;
                                    }
                                    j++;
                                }

                            }
                            connection.Close();
                        }
                    }
                </table>
            </div>
            <br />
            }
     }
    <br />
    <a href="~/Default.cshtml" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>  Terug</a>
    @if (ingelogd == true)
    {<a href="~/Competentie_aanmaken.cshtml" class="btn btn-success" role="button"><i class="fa fa-plus-square" aria-hidden="true"></i>  Nieuwe competentie aanmaken</a>}
</div>