@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@using System;
@using System.Data;
@using System.Data.SqlClient;
@{
    Layout = "_Layout.cshtml";
    Page.title = "Competenties toevoegen";

    int result = 0;
    int ModulewijzerId = 0;
    int CompetentieId = 0;
    string Naam = "";
    int Niveau = 0;
    string Competentie_beschrijving = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (!Request.Form["Competentie_toevoegen"].IsEmpty())
    {
        using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            connection.Open();
            using (var command = connection.CreateCommand())
            {
                command.CommandText = "EXEC LinkCompetentie @ModulewijzerId @CompetentieId";

                command.Parameters.AddRange(new SqlParameter[]
                {
                        new SqlParameter("@ModulewijzerId", SqlDbType.Int) { Value = ModulewijzerId },
                        new SqlParameter("@Competentie", SqlDbType.Int) { Value = CompetentieId },
                });

                command.ExecuteNonQuery();
            }
            connection.Close();
        }
    }

    if (!Request.Form["Competentie_verwijderen"].IsEmpty())
    {
        using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            connection.Open();
            using (var command = connection.CreateCommand())
            {
                command.CommandText = "EXEC DropLinkCompetentie @ModulewijzerId @CompetentieId";

                command.Parameters.AddRange(new SqlParameter[]
                {
                        new SqlParameter("@ModulewijzerId", SqlDbType.Int) { Value = ModulewijzerId },
                        new SqlParameter("@Competentie", SqlDbType.Int) { Value = CompetentieId },
                });

                command.ExecuteNonQuery();
            }
            connection.Close();
        }
    }
}

<form method="post" id="Competentie_toevoegen"></form>
<form method="post" id="Competentie_verwijderen"></form>

<div class="table-responsive">
    <h3>Competenties</h3>
    <table class="table-bordered">
        <tr>
            <th>Naam</th>
            <th>Niveau</th>
            <th>Beschrijving</th>
            <th></th>
        </tr>
        @{using (var connection = new SqlConnection(DbConnection.ConnectionString))
            {
                using (var command = connection.CreateCommand())
                {
                    connection.Open();

                    command.CommandText = "EXEC GetCompetenties @ModuleId";
                    command.Parameters.Add(new SqlParameter("@ModuleId", SqlDbType.Int) { Value = ModulewijzerId });


                    using (var reader = command.ExecuteReader())
                    {
                        while (reader.Read())
                        {
                            CompetentieId = reader.GetInt32(0);
                            Naam = reader.GetString(1);
                            Niveau = reader.GetInt32(2);
                            Competentie_beschrijving = reader.GetString(3);

                            //if (reader.IsDBNull(4))
                            //{
                            //    result = 0;
                            //}
                            //else
                            //{
                            //    result = 1;
                            //}

                            using (var checkLink = connection.CreateCommand())
                            {
                                checkLink.CommandText = "EXEC IsCompetentieLinked @ModulewijzerId @CompetentieId";

                                checkLink.Parameters.AddRange(new SqlParameter[]
                                {
                                    new SqlParameter("@ModulewijzerId", SqlDbType.Int) { Value = ModulewijzerId },
                                     new SqlParameter("@Competentie", SqlDbType.Int) { Value = CompetentieId },
                                });

                                //result = (int)command.ExecuteScalar();
                            }
                        <tr>
                            <td>@Naam</td>
                            <td>@Niveau</td>
                            <td>@Competentie_beschrijving</td>
                            @switch (result)
                            {
                                case 0:
                                    <td><button type="submit" class="btn btn-success" value="@CompetentieId" form="Competentie_toevoegen">Toevoegen</button></td>;
                                    break;
                                case 1:
                                    <td><button type="submit" class="btn btn-danger" value="@CompetentieId" form="Competentie_verwijderen">Verwijderen</button></td>
                                    break;
                            }
                        </tr>
                            }
                        }

                    }
                    connection.Close();
                }
            }
    </table>
    <br>
    <p>
        <a href="Competentie_aanmaken?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button">Nieuwe competentie aanmaken</a>
    </p>
    <a href="Modulewijzer_bekijken?ModulewijzerId=@ModulewijzerId" class="btn btn-success" role="button">Terug</a>
</div>