@using System.Data;
@using System.Data.SqlClient;
@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    Page.Title = "Competentie aanpassen";
    Layout = "_Layout.cshtml";

    Validation.RequireField("Groep", "Je moet een groep selecteren");
    Validation.RequireField("Naam", "Je moet naam toevoegen");
    Validation.RequireField("Niveau", "Je moet een niveau toevoegen");
    Validation.RequireField("Beschrijving", "Je moet een beschrijving toevoegen");

    int competentieId = 0;
    int ModulewijzerId = 0;
    string naam = "";
    int niveau = 0;
    string competentie_beschrijving = "";
    string competentie_groep = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (!Request.QueryString["CompetentieId"].IsEmpty())
    {
        competentieId = Convert.ToInt32(Request.QueryString["CompetentieId"]);
        using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            connection.Open();

            using (var command = connection.CreateCommand())
            {
                command.CommandText = "SELECT Naam, Niveau, Competentie_beschrijving, Competentie_groep FROM Competenties  WHERE CompetentieId = @competentieId";
                command.Parameters.AddWithValue("@competentieId", competentieId);
                command.ExecuteNonQuery();

                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        naam = reader.GetString(0);
                        niveau = reader.GetInt32(1);
                        competentie_beschrijving = reader.GetString(2);
                        competentie_groep = reader.GetString(3);
                    }
                }

            }
            connection.Close();
        }
    }
    else { Response.Redirect("Competenties"); }

    if (IsPost && Validation.IsValid())
    {
        var competentie = new Competentie()
        {
            Id = competentieId,
            Naam = Request.Form["Naam"],
            Niveau = Convert.ToInt32(Request.Form["Niveau"]),
            Beschrijving = Request.Form["Beschrijving"],
            Groep = Request.Form["Groep"]
        };

        DbConnection.Instance.Competentie.Update(competentie);
        if(ModulewijzerId != 0)
        {
            Response.Redirect($"Competentie_toevoegen?ModulewijzerId={@ModulewijzerId}");
        }
        else { Response.Redirect("Competenties"); }
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <h3>Competentie aanpassen</h3>
            </div>

            <div class="form-group">
                <label for="Groep">Groep<span style="color: red;">*@Html.ValidationMessage("Groep")</span></label><br>
                Huidig = @competentie_groep<br />
                Nieuw: <select id="Groep" name="Groep">
                    <option value="Software">Software</option>
                    <option value="Befrijfsprocessen">Befrijfsprocessen</option>
                    <option value="Gebruikersinteractie">Gebruikersinteractie</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Naam">Naam<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label><br>
                Huidig: @naam<br />
                Nieuw: <select id="Naam" name="Naam">
                    <option value="Beheren">Beheren</option>
                    <option value="Analyseren">Analyseren</option>
                    <option value="Adviseren">Adviseren</option>
                    <option value="Ontwerpen">Ontwerpen</option>
                    <option value="Realiseren">Realiseren</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Niveau">Niveau<span style="color: red;">*@Html.ValidationMessage("Niveau")</span></label><br>
                Huidig: @niveau<br />
                Nieuw: <select id="Niveau" name="Niveau">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Beschrijving">Beschrijving<span style="color: red">*@Html.ValidationMessage("Beschrijving")</span></label><br>
                <textarea id="Beschrijving" name="Beschrijving" style="width: 350px; height: 150px;">@competentie_beschrijving</textarea>
            </div>

            <div class="form-group">
                @if (ModulewijzerId != 0)
                {
                    <a href="~/Competentie_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                else
                {
                    <a href="~/Competenties.cshtml" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>

                }
                <button type="submit" name="Competentie_aanmaken" class="btn btn-primary" value="Competentie_toevoegen"><i class="fa fa-plus-square" aria-hidden="true"></i> Competentie aanpassen</button>
                <a class="btn btn-danger" href="Competentie_verwijderen?CompetentieId=@competentieId&ModulewijzerId=@ModulewijzerId"><i class="fa fa-trash" aria-hidden="true"></i> Competentie verwijderen</a>
            </div>
        </form>
    </div>
</div>