@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    if (!Beveiliging.IsAuthenticated())
    {
        Response.Redirect("Default");
    }

    Layout = "_Layout.cshtml";
    Page.title = "Modulewijzer";

    Validation.RequireField("Naam", "Je moet een naam invoeren");
    Validation.RequireField("EC", "Je moet een aantal EC`s invoeren");
    Validation.RequireField("Studiejaar", "Je moet een studiejaar invoeren");
    Validation.RequireField("Periode", "Je moet een periode invoeren");

    int ModulewijzerId = 0;
    string naam = "";
    string EC = "";
    string studiejaar = "";
    string periode = "";
    string werkvorm = "";
    string leeruitkomsten = "";
    string literatuur = "";
    string planning = "";
    string error = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);

        Module module = DbConnection.Instance.Module.GetById(ModulewijzerId);

        naam = module.Naam;
        EC = Convert.ToString(module.AantalEcs);
        studiejaar = Convert.ToString(module.StudieJaar);
        periode = Convert.ToString(module.Periode);
        werkvorm = module.Werkvorm;
        leeruitkomsten = module.Leeruitkomsten;
        literatuur = module.Literatuur;
        planning = module.Planning;
    }
    else { Response.Redirect("Default"); }


    if (IsPost && Validation.IsValid())
    {
        int ec = Convert.ToInt32(Request.Form["EC"]);
        int _studiejaar = Convert.ToInt32(Request.Form["Studiejaar"]);
        int _periode = Convert.ToInt32(Request.Form["Periode"]);

        error = DbConnection.Instance.Module.GreaterZero(ec, _studiejaar, _periode);
        Validation.RequireField("error", " ");

        if (Validation.IsValid())
        {
            var module = new Module()
            {
                Id = ModulewijzerId,
                Naam = Request.Form["Naam"],
                AantalEcs = Convert.ToInt32(Request.Form["EC"]),
                StudieJaar = Convert.ToInt32(Request.Form["Studiejaar"]),
                Periode = Convert.ToInt32(Request.Form["Periode"]),
                Werkvorm = Request.Form["Werkvorm"],
                Leeruitkomsten = Request.Form["Leeruitkomsten"],
                Literatuur = Request.Form["Literatuur"],
                Planning = Request.Form["Planning"]
            };

            DbConnection.Instance.Module.Update(module);
            Response.Redirect($"Modulewijzer_bekijken?ModulewijzerId={ModulewijzerId}");
        }
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">

            @if (error != "")
            {
                <div class="alert alert-danger form-group">
                    <strong>Error:</strong> @error <hidden>@Html.ValidationMessage("error")</hidden>
                </div>
            }

            <div class="form-group">
                <label for="Naam">Naam modulewijzer<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label>
                <input class="form-control" type="text" id="Naam" name="Naam" placeholder="Naam modulewijzer" value="@naam">
            </div>

            <div class="form-group">
                <label for="EC">Aantal EC`s<span style="color: red;">*@Html.ValidationMessage("EC")</span></label>
                <input class="form-control" type="number" id="EC" name="EC" placeholder="Aantal EC`S" value="@EC">
            </div>

            <div class="form-group">
                <label for="Studiejaar">Studiejaar<span style="color: red;">*@Html.ValidationMessage("Studiejaar")</span></label>
                <input class="form-control" type="number" id="Studiejaar" name="Studiejaar" placeholder="Studiejaar" value="@studiejaar">
            </div>

            <div class="form-group">
                <label for="Periode">Periode<span style="color: red;">*@Html.ValidationMessage("Periode")</span></label>
                <input class="form-control" type="number" id="Periode" name="Periode" placeholder="Periode" value="@periode">
            </div>

            <div class="form-group">
                <label for="Werkvorm">Werkvorm(en)</label>
                <textarea class="form-control" type="text" id="Werkvorm" name="Werkvorm" placeholder="Hoorcollege, werkcollege">@werkvorm</textarea>
            </div>

            <div class="form-group">
                <label for="Leeruitkomsten">Leeruitkomsten</label>
                <textarea class="form-control" type="text" id="Leeruitkomsten" name="Leeruitkomsten" placeholder="Maximaal 5">@leeruitkomsten</textarea>
            </div>

            <div class="form-group">
                <label for="Literatuur">Literatuur</label>
                <textarea class="form-control" type="text" id="Literatuur" name="Literatuur" placeholder="Literatuur">@literatuur</textarea>
            </div>

            <div class="form-group">
                <label for="Planning">Planning</label>
                <textarea class="form-control" type="text" id="Planning" name="Planning" placeholder="Planning">@planning</textarea>
            </div>

            <div class="form-group">
                <a href="Modulewijzer_bekijken?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                <div style="float: right;">
                    <button type="submit" name="Modulewijzer_edit" class="btn btn-success" value="Modulewijzer_edit"><i class="fa fa-save" aria-hidden="true"></i>  Modulewijzer aanpassen</button>
                </div>
            </div>
        </form>
    </div>
</div>