@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    Layout = "_Layout.cshtml";
    Page.title = "Modulewijzer";

    bool ingelogd = true;

    if (!Beveiliging.IsAuthenticated())
    {
        ingelogd = false;
    }

    int ModulewijzerId = 0;
    string naam = "";
    string EC = "";
    string studiejaar = "";
    string periode = "";
    string werkvorm = "";
    string leeruitkomsten = "";
    string literatuur = "";
    string planning = "";
    string view_docent = "";
    string view_comp = "";
    string view_besch = "";

    List<string> docenten = new List<string>();
    Dictionary<string, string> competenties = new Dictionary<string, string>();

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);

        Module module = DbConnection.Instance.Module.GetById(ModulewijzerId);

        naam = module.Naam;
        EC = Convert.ToString(module.AantalEcs);
        studiejaar = Convert.ToString(module.StudieJaar);
        periode = Convert.ToString(module.Periode);
        werkvorm = module.Werkvorm;
        leeruitkomsten = module.Leeruitkomsten;
        literatuur = module.Literatuur;
        planning = module.Planning;
    }
    else { Response.Redirect("Default"); }

    docenten = DbConnection.Instance.Module.GetLinkedDocenten(ModulewijzerId);
    competenties = DbConnection.Instance.Module.GetLinkedCompetenties(ModulewijzerId);

    if (!Request.Form["Modulewijzer_verwijderen"].IsEmpty())
    {
        DbConnection.Instance.Module.Delete(ModulewijzerId);
        Response.Redirect("Default");
    }
}

<form method="post" id="Modulewijzer_verwijderen"></form>

<div>
    <h2 class="page-header">Modulewijzer</h2>
    <b>Naam</b><br /><p>@naam</p>
    <b>Docenten</b><br /><p>@foreach (string s in docenten) { view_docent = s; @view_docent}</p>
    <b>EC's</b><br /><p>@EC</p>
    <b>Studiejaar</b><br /><p>@studiejaar</p>
    <b>Periode</b><br /><p>@periode</p>
    <b>Werkvorm</b><br /><p>@werkvorm</p>
    <b>Leeruitkomsten</b><br /><p>@leeruitkomsten</p>

    @{int i = 0; }
    <b>Competenties</b><br />
        @foreach (KeyValuePair<string, string> s in competenties)
        {
            view_comp = s.Key;
            view_besch = s.Value;
                    <div>
                        <a data-toggle="collapse" data-target="#competentie_@i" href="#competentie_@i">@view_comp <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></a>
                    </div>
                    <div id="competentie_@i" class="panel-collapse collapse out">
                            @view_besch
                    </div>
            i++;
        }
    <br />

    <b>Literatuur</b><br /><p>@literatuur</p>
    <b>Planning</b><br /><p>@planning</p>
    <hr />
    <a href="Default" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
    <a href="Genereer_PDF.cshtml?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Maak PDF</a>

    @{
        if (ingelogd == true)
        {
            <div style="float:right;">
                <p>
                    <a href="Competentie_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-success" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Competentie toevoegen</a>
                    <a href="Docent_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-success" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i> Docent toevoegen</a>
                    <a href="Modulewijzer_aanpassen?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> Module aanpassen</a>
                    <button type="submit" name="Modulewijzer_verwijderen" class="btn btn-danger" value="@ModulewijzerId" form="Modulewijzer_verwijderen"><i class="fa fa-trash" aria-hidden="true"></i> Module verwijderen</button>
                </p>
            </div>
        }
    }
</div>