@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    if (!Beveiliging.IsAuthenticated())
    {
        Response.Redirect("Default");
    }

    Layout = "_Layout.cshtml";
    Page.title = "Modulewijzer aanmaken";

    string error = "";

    Validation.RequireField("Naam", "Je moet een naam invoeren");
    Validation.RequireField("EC", "Je moet een aantal EC`s invoeren");
    Validation.RequireField("Studiejaar", "Je moet een studiejaar invoeren");
    Validation.RequireField("Periode", "Je moet een periode invoeren");

    if (IsPost && Validation.IsValid())
    {
        int ec = Convert.ToInt32(Request.Form["EC"]);
        int studiejaar = Convert.ToInt32(Request.Form["Studiejaar"]);
        int periode = Convert.ToInt32(Request.Form["Periode"]);

        error = DbConnection.Instance.Module.GreaterZero(ec, studiejaar, periode);
        Validation.RequireField("error", " ");

        if (error == "")
        {
            var module = new Module()
            {
                Naam = Request.Form["Naam"],
                AantalEcs = Convert.ToInt32(Request.Form["EC"]),
                StudieJaar = Convert.ToInt32(Request.Form["Studiejaar"]),
                Periode = Convert.ToInt32(Request.Form["Periode"]),
                Werkvorm = Request.Form["Werkvorm"],
                Leeruitkomsten = Request.Form["Leeruitkomsten"],
                Literatuur = Request.Form["Literatuur"],
                Planning = Request.Form["Planning"]
            };

            DbConnection.Instance.Module.Create(module);
            Response.Redirect("Default");
        }
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">

            @if (error != "")
            {
                <div class="alert alert-danger form-group">
                    <strong>Error:</strong> @error <hidden>@Html.ValidationMessage("error")</hidden>
                </div>
            }

            <div class="form-group">
                <label for="Naam">Naam modulewijzer<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label>
                <input class="form-control" type="text" id="Naam" name="Naam" placeholder="Naam modulewijzer" value="@Request.Form["Naam"]">
            </div>

            <div class="form-group">
                <label for="EC">Aantal EC`s<span style="color: red;">*@Html.ValidationMessage("EC")</span></label>
                <input class="form-control" type="number" id="EC" name="EC" placeholder="Aantal EC`S" value="@Request.Form["Naam"]">
            </div>

            <div class="form-group">
                <label for="Studiejaar">Studiejaar<span style="color: red;">*@Html.ValidationMessage("Studiejaar")</span></label>
                <input class="form-control" type="number" id="Studiejaar" name="Studiejaar" placeholder="Studiejaar" value="@Request.Form["Studiejaar"]">
            </div>

            <div class="form-group">
                <label for="Periode">Periode<span style="color: red;">*@Html.ValidationMessage("Periode")</span></label>
                <input class="form-control" type="number" id="Periode" name="Periode" placeholder="Periode" value="@Request.Form["Periode"]">
            </div>

            <div class="form-group">
                <label for="Werkvorm">Werkvorm(en)</label>
                <textarea class="form-control" type="text" id="Werkvorm" name="Werkvorm" placeholder="Hoorcollege, werkcollege">@Request.Form["Werkvorm"]</textarea>
            </div>

            <div class="form-group">
                <label for="Leeruitkomsten">Leeruitkomsten</label>
                <textarea class="form-control" type="text" id="Leeruitkomsten" name="Leeruitkomsten" placeholder="Maximaal 5">@Request.Form["Leeruitkomsten"]</textarea>
            </div>

            <div class="form-group">
                <label for="Literatuur">Literatuur</label>
                <textarea class="form-control" type="text" id="Literatuur" name="Literatuur" placeholder="Literatuur">@Request.Form["Literatuur"]</textarea>
            </div>

            <div class="form-group">
                <label for="Planning">Planning</label>
                <textarea class="form-control" type="text" id="Planning" name="Planning" placeholder="Planning">@Request.Form["Planning"]</textarea>
            </div>

            <div class="form-group">
                <a href="~/Default.cshtml" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                <button type="submit" name="Modulewijzer_create" class="btn btn-success" value="Modulewijzer_create" style="float:right;"><i class="fa fa-plus"></i> Modulewijzer aanmaken</button>
            </div>
        </form>
    </div>
</div>