@using Modulewijzer.DataAccess;
@using System;
@{
    Layout = "_Layout.cshtml";
    Page.title = "Zoekresultaten";

    int ModulewijzerId;
    string naam = "";
    string EC = "";
    string studiejaar = "";
    string periode = "";
    string zoekterm = "";
    string zoektype = "";
    SearchTerm term = null;

    zoekterm = Request.QueryString["zoek"];
    zoektype = Request.QueryString["zoektype"];

    if (zoektype == "Naam")
    {
        term = new SearchNaam();
        if (!term.SetTerm(zoekterm))
        {
            Response.Redirect("Default");
        }
    }

    else if (zoektype == "EC")
    {
        term = new SearchEcs();
        if (!term.SetTerm(zoekterm))
        {
            Response.Redirect("Default");
        }
    }

    else if (zoektype == "Studiejaar")
    {
        term = new SearchStudieJaar();
        if (!term.SetTerm(zoekterm))
        {
            Response.Redirect("Default");
        }
    }

    else if (zoektype == "Periode")
    {
        term = new SearchPeriode();
        if (!term.SetTerm(zoekterm))
        {
            Response.Redirect("Default");
        }
    }

    else { Response.Redirect("Default"); };

    if (zoekterm == "")
    {
        Response.Redirect("Default");
    }
}


<div class="table-responsive">
    <h3 class="page-header">Resultaten voor @zoektype: @zoekterm</h3>
    <h2>Modules</h2>
    @{var modules = new TabelModule().Search(term);
    <table class="table-bordered">
        <tr>
            <th>Naam</th>
            <th>EC`s</th>
            <th>Studiejaar</th>
            <th>Periode</th>
        </tr>
            @foreach (var module in modules)
            {
                ModulewijzerId = module.Id;
                naam = module.Naam;
                EC = Convert.ToString(module.AantalEcs);
                studiejaar = Convert.ToString(module.StudieJaar);
                periode = Convert.ToString(module.Periode);
                <tr>
                    <td>@naam</td>
                    <td>@EC</td>
                    <td>@studiejaar</td>
                    <td>@periode</td>
                    <td><a href="Modulewijzer_bekijken?ModulewijzerId=@ModulewijzerId" class="btn btn-success" role="button"><i class="fa fa-eye"></i> Openen</a></td>
                </tr>
                }
            
    </table>
        if (modules.Count <= 0)
        {
            <h3>Geen resultaten</h3>
        }
     }
    <br>
    <a href="Default" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
</div>